---
import { Icon } from "astro-icon/components";
import PricingCard from "../ui/PricingCard.astro";
---

<section id="plan-salud" class="py-20 bg-white">
    <div class="container mx-auto px-4">
        <div class="bg-blue-500 rounded-3xl overflow-hidden shadow-2xl flex flex-col lg:flex-row">
            <div class="p-8 lg:p-16 flex-1 text-white">
                <span class="inline-block px-4 py-1 bg-blue-700 text-blue-100 rounded-full text-sm font-bold mb-6 uppercase tracking-widest">Membresía Exclusiva</span>
                <h2 class="text-3xl md:text-5xl font-extrabold mb-6 leading-tight " transition:name="plan-title">Un plan de salud pensado para tu tranquilidad.</h2>
                <p class="text-blue-100 text-lg mb-8 leading-relaxed">Nuestro Plan de Salud es mucho mas que cobertura médica; es el compromiso de estar siempre presentes, previendo enfermedades y asegurando una larga vida y feliz para tu compañero.</p>
                <div class="flex gap-4 md:flex-row flex-col">
                    <a href="#contacto" class="inline-flex items-center justify-center gap-2 bg-white text-blue-600 px-8 py-4 rounded-xl font-bold text-lg md:hover:bg-blue-200 md:hover:text-blue-800 transition-all group">
                        Solicitar Asesoramiento
                        <Icon name="mdi:arrow-right" class="w-5 h-5 md:group-hover:translate-x-1 transition-transform" />
                    </a>
                    <a href="/Plan-de-Salud" class="inline-flex items-center justify-center gap-2 bg-blue-800 text-white px-8 py-4 rounded-xl font-bold text-lg md:hover:bg-blue-200 md:hover:text-blue-800 transition-all group">
                        Ver Plan de Salud
                        <Icon name="mdi:arrow-right" class="w-5 h-5 md:group-hover:translate-x-1 transition-transform" />
                    </a>
                </div>
            </div>
            <PricingCard />
        </div>
    </div>
</section>