---
import { Icon } from "astro-icon/components";

interface Props {
    title: string;
    description: string;
    iconName: string;
}

const {title, description, iconName} = Astro.props;
---
<div class="flex gap-4 p-6 bg-white rounded-2xl border border-slate-100 shadow-sm hover:shadow-md transition-all hover:border-blue-200 group">
    <div class="shrink-0">
        <div class="w-12 h-12 bg-salte-50 text-slate-400 group-hover:bg-blue-600 group-hover:text-white rounded-xl flex items-center justify-center transition-colors">
            <Icon name={iconName} class="w-7 h-7" />
        </div>
    </div>
    <div >
        <h3 class="text-lg font-bold text-slate-900 mb-1">{title}</h3>
        <p class="text-slate-600 text-sm">{description}</p>
    </div>
</div>